.TeamOverviewPage {
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.PlayerDetails {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}