.TeamList {
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 2vmin;
  margin: 3vmin 0;
  padding: 3vmin;
  overflow-y: scroll;
}


table {
  width: 100%;
}

thead th:nth-child(1){
  width: 20%;
}
thead th:nth-child(2){
  width: auto;
}
thead th:nth-child(3){
  width: 40%;
}
thead th:nth-child(4){
  width: auto;
}
thead th:nth-child(5){
  width: 40%;
}
thead th:nth-child(6){
  width: 200px;
}

th, td {
  padding: 5px;
}

tbody td {
  text-align: center;
}
